  <div id="newsletter-signup">
    <form action="https://online.us6.list-manage.com/subscribe/post?u=96b2d2fa2d0acc9a1edc93fc3&amp;id=14dbb05ceb" method="post" target="_blank">
      <fieldset>
        <label for="newsletter-input">Sign up for announcements or follow&nbsp;us&nbsp;on&nbsp;<a href="https://twitter. com/jointogetherhq">Twitter</a>.</label>
        <input id="newsletter-input" placeholder="email" type="email" name="EMAIL" />
        <div></div>
        <button type="submit">Sign up</button>
      </fieldset>
    </form>
  </div>
  <div id="footer-navigation">
    <div><p>&copy; JoinTogether Cooperative Ltd.&nbsp;2021</p></div>
    <nav>
      <h2>Corporate info: </h2>
      {% for item in site.corporate-pages %}
        <span><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></span> 
      {% endfor %}
    </nav>
  </div>
