  <div id="newsletter-signup">
    <form action="https://online.us6.list-manage.com/subscribe/post?u=96b2d2fa2d0acc9a1edc93fc3&amp;id=14dbb05ceb" method="post" target="_blank">
      <fieldset id="actions">
        <h2>Actions</h2>
        <div>
          {% assign homepage = site.pages | where: "path", "index.markdown" | first %}
          {% for item in homepage.buttons %}
            <a href="{{ item.url }}">{{ item.label }}</a>
          {% endfor %}
        </div>
      </fieldset>
      <fieldset id="signup">
        <label for="newsletter-input">Sign up for news</label>
        <input id="newsletter-input" placeholder="email" type="email" name="EMAIL" />
        <div></div>
        <button type="submit">Sign up</button>
      </fieldset>
    </form>
  </div>
  <div id="footer-navigation">
    <div><p>&copy; JoinTogether Cooperative Ltd&nbsp;{{ site.time | date: '%Y' }}<a href="https://www.uk.coop"><img src="{{ site.baseurl }}/assets/images/coop-uk-logo.svg" /></a></p></div>
    <nav>
      <h2>Corporate info: </h2>
      {% assign post_count=site.posts | size %}
      {% if post_count > 4 %}
        <span><a href="{{ site.url }}{{ site.baseurl }}/posts">Updates</a></span>
      {% endif %}
      {% assign footerLinks = site.corporate-pages | sort: 'footer-order' %}
      {% for item in footerLinks %}
        <span><a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></span>
      {% endfor %}
    </nav>
  </div>
