---
---



// RESET

* {
  border: none;
  color: inherit;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}



// FONT EMBEDDING

@font-face {
  font-family: 'JoinTogether'; 
  font-style: normal; 
  font-weight: 800;
  src: url("{{ site.baseurl }}/assets/fonts/JoinTogether-Head.otf") format("opentype");
}

@font-face {
  font-family: 'JoinTogether'; 
  font-style: normal; 
  font-weight: 700;
  src: url("{{ site.baseurl }}/assets/fonts/JoinTogether-Body.otf") format("opentype");
}




// VARIABLES

$text: rgb(0,0,0);
$page: rgb(255,255,255);
$light-shade: rgba($text, 0.05);
$dark-shade: rgba($page, 0.125);
$border: rgba($text, 0.3);
$highlight: rgb(255,59,48);

$measure: 17px;
$baseline: $measure*1.2;
$gutter: 16px;
$indent: 0.85em;
$whitespace: 22.5vh;
$viewport-tablet: 760px;
$viewport-desktop: 1020px;
$viewport-wide: 1100px;
$max-width-narrow: 500px;
$max-width-wide: 31em;
$corner-radius: 13px;
$transition: 0.3s ease;

@-webkit-keyframes homepage-graphic-ripple {
  0% { background-position: 30% 70% }
  50% { background-position: 80% 20% }
  100% { background-position: 60% 45% }
}



// MIXINS

@mixin font-core {
  font-family: JoinTogether, sans-serif;
  font-size: $measure*0.9;
  line-height: $baseline*0.95;
  font-weight: 700;
  letter-spacing: 0.01em;
  @media (min-width: $viewport-tablet) {
  }
  @media (min-width: $viewport-desktop) {
    font-size: $measure;
    line-height: $baseline;
  }
}

@mixin font-medium {
  font-size: $measure *1.5;
  line-height: $baseline *1.5;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin font-large {
  font-size: 10vw;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.03em;
  @media (min-width: $viewport-tablet) {
    font-size: 5vw;
  }
  @media (min-width: $viewport-wide) {
    font-size: 4.75vw;
  }
}

@mixin layout-block {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: $gutter;
  display: grid;
  grid-gap: 0 $gutter;
  grid-template-columns: 1fr;
  @media (min-width: $viewport-tablet) {
    padding: $gutter $gutter*2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  @media (min-width: $viewport-wide) {
    padding: $gutter $gutter*3;
    grid-template-columns: 1fr ($viewport-wide*0.25 - $gutter*2) ($viewport-wide*0.25 - $gutter*2) ($viewport-wide*0.25 - $gutter*2) ($viewport-wide*0.25 - $gutter*2) 1fr;
  }
}

@mixin text-area {
  grid-column: 1 / 2;
  position: relative;
  @media (min-width: $viewport-tablet) {
    grid-column: 1 / 7;
    padding-left: 50%;
    #header {
      position: relative;
      width: 200%;
      margin-left: -100%;
    }
    h2 {
      position: relative;
      float: left;
      width: calc(100% - #{$gutter});
      margin-left: -100%;
    }
  }
  @media (min-width: $viewport-wide) {
    grid-column: 2 / 6;
  }
}

@mixin body-typography {
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  #header {
    margin-top: $whitespace;
    margin-bottom: $whitespace*0.5;
    hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
  }
  h1 {
  }
  h2 {
    @include font-medium();
    @media (min-width: $viewport-tablet) {
      @include font-core();
    }
  }
  h3, h4, h5, h6 {
    margin-top: $whitespace*0.5;
    margin-bottom: $gutter;
    max-width: $max-width-wide;
  }
  h2, h2 + * {
    padding-top: $whitespace*0.5;
  }
  p, ol, ul, div:not(#header), 
  blockquote, quote {
    margin-bottom: $gutter;
    margin-left: auto;
    margin-right: auto;
  }
  blockquote {
    position: relative;
    padding-left: $indent;
    &:before {
      content: "\201C";
      float: left;
      margin-left: $indent*-1;
      width: $indent;
      text-align: center;
    }
    p:last-child::after {
      content: "\201D";
    }
  }
  cite {
    display: block;
    padding-left: $indent;
    &:before {
      content: ".";
      float: left;
      margin-left: $indent*-1;
      width: $indent*0.6;
      margin-right: $indent*0.4;
      color: transparent;
      overflow: hidden;
      border-bottom: 1px solid $text;
      height: 0.6em;
    }
  }
  strong {
    font-weight: 800;
  }
  em {
    position: relative;
    display: inline-block;
    transform: skew(13deg);
    letter-spacing: 0.01em;
  }
  ul {
    list-style: none;
    li {
      position: relative;
      padding-left: $indent;
      &:before {
        content: "•";
        display: inline-block;
        position: relative;
        margin-left: $indent *-1;
        width: $indent;
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: ol;
    li {
      position: relative;
      counter-increment: ol;
      padding-left: $indent*1.5;
      &:before {
        content: counter(ol)". ";
        position: relative;
        float: left;
        margin-left: $indent*-1.5;
        min-width: $indent*1.5;
      }
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    margin: $gutter*2 0;
  }
}

@mixin button {
  position: relative;
  padding: $gutter;
  height: $baseline;
  background: $light-shade;
  border-radius: $corner-radius;
  text-decoration: none;
  text-align: center;
  &:hover {
    background: rgba($text, 0.1);
  }
  &:focus {
    outline: none;
    background: $highlight;
    color: $page;
  }
}

@mixin cta-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: $gutter;
  a {
    @include button();
    margin: $gutter*0.5 0;
  }
  @media (min-width: $viewport-tablet) {
    flex-direction: row;
    justify-content: flex-start;
    a {
      margin: 0 0.5px;
      border-radius: 0;
      &:first-child {
        border-top-left-radius: $corner-radius;
        border-bottom-left-radius: $corner-radius;
      }
      &:last-child {
        border-top-right-radius: $corner-radius;
        border-bottom-right-radius: $corner-radius;
      }
    }
  }
}



// BASE STYLES
  
html {
  position: relative;
  min-width: 320px;
  background: $highlight;
  background: linear-gradient(0deg, $page 0%, $page 49.9%, $text 50%);
  color: $text;
  @include font-core();
  -webkit-font-smoothing: antialiased;
}

body {
  background: $page;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  text-decoration-color: $border;
  &:hover {
    text-decoration-thickness: 2px;
    text-decoration-color: $highlight;
  }
  &:focus {
    outline: none;
    color: $highlight;
    text-decoration-thickness: 2px;
    text-decoration-color: $highlight;
  }
}

hr {
  display: block;
  height: $whitespace;
}



// BRAND AREA

header {
  position: absolute;
  width: 100%;
  top: $gutter*0.5;
  left: 0;
  z-index: 50;
  h1 {
    @include layout-block();
  }
  a {
    grid-column: 1 / 2;
    @media (min-width: $viewport-tablet) {
      grid-column: 2 / 6;
    }
    position: relative;
    justify-self: start;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    img {
      height: $measure*3;
      width: auto;
      @media (min-width: $viewport-tablet) {
        height: $measure*3;
      }
    }
    span {
      position: absolute;
      left: -5000%;
    }
  }
}



// LAYOUT - HOMEPAGE

#layout-homepage {
  #layout-inner {
    @include layout-block();
    position: relative;
    z-index: 2;
    .lede-block {
      position: relative;
      z-index: 20;
      padding: $whitespace*0.75 0;
      &:first-child {
        padding-top: $whitespace;
      }
      &.last-child {
        padding-bottom: $whitespace;
      }
      p {
        position: relative;
        max-width: 13em;
        @include font-large();
        span {
          position: relative;
          top: 0.15em;
          display: inline-block;
          width: 0.8em;
          height: 0.8em;
          background-size: contain;
          background-position: top left;
          &.icon-1 {
            background-image: url(images/icon-1.svg);
          }
          &.icon-2 {
            background-image: url(images/icon-2.svg);
          }
          &.icon-3 {
            background-image: url(images/icon-3.svg);
          }
        }
      }
      @media (min-width: $viewport-tablet) {
        &:nth-child(2n-1) {
          grid-column: 1 / 6;
        }
        &:nth-child(2n) {
          grid-column: 3 / 7;
        }
        &:nth-child(1) {
          grid-column: 2 / 6;
          grid-row: 1 / 2;
        }
        &:nth-child(2) {
          grid-row: 2 / 3;
        }
        &:nth-child(3) {
          grid-row: 3 / 4;
        }
        &:nth-child(4) {
          grid-row: 4 / 5;
        }
        &:nth-child(5) {
          grid-row: 5 / 6;
        }
        &:nth-child(6) {
          grid-row: 6 / 7;
        }
        &:nth-child(7) {
          grid-row: 7 / 8;
        }
        &:nth-child(8) {
          grid-row: 8 / 9;
        }
        &:nth-child(9) {
          grid-row: 9 / 10;
        }
        &:nth-child(10) {
          grid-row: 10 / 11;
        }
        &.last-child {
          justify-self: center;
        }
      }
    }
    #graphic {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, $page 0%, #eee 100%);
      @media (min-width: $viewport-tablet) {
        top: $gutter;
        left: $gutter;
        right: $gutter;
        border-radius: $corner-radius;
      }
      #block-1 {
        position: sticky;
        top: $gutter;
        margin: 0 5%;
        width: 90%;
        height: calc(100vh - #{$gutter*2});
        mask: url(images/JT-Vector-01.svg);
        -webkit-mask: url(images/JT-Vector-01.svg);
        mask-position: center center;
        -webkit-mask-position: center center;
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        background: linear-gradient(160deg, $highlight 40%, pink 60%, cyan 65%);
        background-size: 200% 200%;
        background-position: 25% 25%;
        animation: homepage-graphic-ripple 5s ease infinite alternate ;
      }
    }
  }
  section {
    @include layout-block();
    margin-top: $gutter*2;
    z-index: 2;
  }
  #homepage-detail {
    grid-column: 1 / 2;
    @media (min-width: $viewport-tablet) {
      grid-column: 2 / 6;
    }
    @media (min-width: $viewport-wide) {
      grid-column: 2 / 5;
    }
    z-index: 10;
    h1, h2, h3, h4, h5, h6,
    p, ol, ul, div, 
    blockquote, quote {
      margin-bottom: $gutter;
    }
    h2 {
      @include font-medium();
      font-weight: 800;
    }
    ul {
      list-style: none;
      li {
        position: relative;
        padding-left: $gutter;
        &:before {
          content: "•";
          display: inline-block;
          position: relative;
          margin-left: $gutter*-1;
          width: $gutter;
        }
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      margin: $gutter*2 0;
    }
  }
  nav {
    @include cta-buttons();
    grid-column: 1 / 2;
    @media (min-width: $viewport-tablet) {
      grid-column: 2 / 6;
      padding-top: $gutter*0.5;
    }
    @media (min-width: $viewport-wide) {
      grid-column: 2 / 6;
    }
    position: relative;
    z-index: 10;
  }
  #blog-posts {
    @include layout-block();
    grid-column: 1 / -1;
    padding: 0;
    @media (min-width: $viewport-tablet) {
      padding: 0;
    }
    @media (min-width: $viewport-wide) {
      padding: 0;
    }
    h2 {
      grid-column: 1 / 2;
      padding-top: $whitespace;
      width: 100%;
      @media (min-width: $viewport-tablet) {
        grid-column: 2 / 5;
        padding-bottom: $gutter*2;
      }
      a {
        float: right;
      }
    }
    @media (min-width: $viewport-tablet) {
      h2+article {
        grid-column: 1 / 4;
      }
      h2+article:last-child {
        grid-column: 2 / 5;
      }
      article {
        padding-right: $gutter;
        grid-column: span 3;
      }
    }
    @media (min-width: $viewport-wide) {
      article {
        &:nth-child(2n) {
          grid-column: 2 / 4;
        }
        &:nth-child(2n-1) {
          grid-column: 4 / 6;
        }
      }
    }
    article {
      padding-top: $gutter;
      padding-bottom: $gutter*2;
      h3 {
        @include font-medium();
        margin-bottom: $gutter;
        font-weight: 800;
        a {
          text-decoration: none;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
      div {
        p {
          margin-bottom: $gutter;
        }
      }
    }
  }
}



// LAYOUT - PRODUCT

#layout-product {
  @include layout-block();
  z-index: 2;
  #layout-inner {
    grid-column: 1 / 2;
    margin: $whitespace 0 0;
    @media (min-width: $viewport-tablet) {
      grid-column: 2 / 6;
    }
    @include body-typography();
    #header {
      hyphens: none;
      -ms-hyphens: none;
      -webkit-hyphens: none;
      @media (min-width: $viewport-tablet) {
        @include font-medium();
      }
      margin: 0 auto $whitespace;
      h1 {
        @include font-large();
      }
    }
    #body {
      margin: 0 auto;
      @media (min-width: $viewport-tablet) {
        @include font-medium();
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        margin: $gutter*2 0;
      }
      ol {
        list-style: none;
        display: grid;
        grid-gap: $gutter;
        counter-reset: ol;
        margin: $gutter*1.5 0 $whitespace*0.5;
        @media (min-width: $viewport-tablet) {
          grid-template-columns: 1fr 1fr;
        }
        li {
          position: relative;
          padding: $gutter;
          min-height: $whitespace*0.5;
          border-radius: $corner-radius;
          background: $light-shade;
          grid-row: span 2;
          counter-increment: ol;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          &:nth-child(2) {
            grid-column: 2/ 3;
            grid-row: 2 / 4;
          }
          &:before {
            content: counter(ol);
            position: relative;
            margin-left: 0;
            display: inline-block;
            color: $highlight;
            margin-bottom: $gutter;
            @include font-large();
            width: 1.2em;
            height: 1.2em;
            line-height: 1.15em;
            text-align: center;
            border: 1px solid;
            border-radius: 100%;
          }
          img {
            position: relative;
            display: block;
            width: calc(100% + #{$gutter*2});
            height: auto;
            margin: $gutter $gutter*-1 0;
            &:last-child {
              margin-bottom: $gutter*-1;
            }
          }
        }
      }
    }
    nav {
      @include cta-buttons;
    }
  }
}




// LAYOUT - POSTS INDEX

#layout-blogindex {
  @include layout-block();
  z-index: 2;
  #layout-inner {
    margin: $whitespace 0 0;
    @media (min-width: $viewport-tablet) {
      grid-column: 2 / 6;
    }
    #content {
      @include body-typography();
      h1 {
        @include font-large();
        margin-bottom: $whitespace;
        hyphens: none;
        -ms-hyphens: none;
        -webkit-hyphens: none;
      }
    }
  }
  #blog-posts {
    h2 {
      position: absolute;
      left: -5000%;
    }
    article {
      margin: $gutter*2 0;
      padding: $gutter 0;
      &+article {
        border-top: 1px solid $border;
      }
      h3 {
        @include font-medium();
        font-weight: 800;
        margin-bottom: $gutter;
      }
      div:nth-child(2) {
        margin-bottom: $gutter;
      }
      div:nth-child(3) {
        margin-bottom: $gutter;
      }
      div:nth-child(4) {
      }
      @media (min-width: $viewport-tablet) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 0 $gutter;
        h3 {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
        div:nth-child(2) {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
        }
        div:nth-child(3) {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }
        div:nth-child(4) {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
        }
      }
    }
  }
}



// LAYOUT - POSTS

#layout-post {
  @include layout-block();
  z-index: 2;
  #layout-inner {
    @include body-typography();
    @include text-area();
    #header {
      h1 {
        @include font-large();
      }
    }
  }
}




// LAYOUT - PAGES

#layout-page {
  @include layout-block();
  z-index: 2;
  #layout-inner {
    @include body-typography();
    @include text-area();
    #header {
      h1 {
        @include font-large();
      }
    }
  }
}



// FOOTER

footer {
  @include layout-block();
  #newsletter-signup {
    grid-column: 1 / 2;
    margin: $whitespace 0;
    padding-top: $gutter;
    border-top: 1px solid $border;
    @media (min-width: $viewport-tablet) {
      grid-column: 1 / 7;
    }
    @media (min-width: $viewport-wide) {
      grid-column: 2 / 6;
    }
  }
  form {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    @media (min-width: $viewport-tablet) {
      flex-direction: row;
    }
    overflow: visible;
    #actions {
      margin-bottom: $gutter*4;
      @media (min-width: $viewport-tablet) {
        margin-bottom: 0;
        padding-right: $gutter;
      }
      div {
        @include cta-buttons();
        a {
          white-space: nowrap;
        }
      }
    }
    #signup {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-grow: 1;
      label {
        width: 100%;
        padding-bottom: $gutter;
      }
      input {
        position: relative;
        z-index: 2;
        flex-grow: 1;
        padding: $gutter;
        height: $baseline;
        background: $light-shade;
        border-radius: $corner-radius 0 0 $corner-radius;
        & + div {
          position: absolute;
          z-index: 1;
          bottom: $gutter*-0.5;
          left: $gutter*-0.5;
          right: $gutter*-0.5;
          height: $baseline + $gutter*2;
          border-radius: $corner-radius*1.6;
          color: $highlight;
          background: transparent;
          border: $gutter*0.5 solid $highlight;
          opacity: 0;
          transition: opacity $transition;
        }
        &:focus {
          outline: none;
          & + div {
            opacity: 1;
          }
        }
      }
      button {
        position: relative;
        z-index: 3;
        padding: $gutter;
        height: $baseline + $gutter*2;
        cursor: pointer;
        background: $light-shade;
        border-radius: 0 $corner-radius $corner-radius 0;
        &:hover {
          background: rgba($text, 0.1);
        }
        &:focus {
          outline: none;
          background: $highlight;
          color: $page;
        }
      }
    }
  }
  #footer-navigation {
    grid-column: 1 / 2;
    border-top: 1px solid $border;
    @media (min-width: $viewport-tablet) {
      grid-column: 1 / 7;
    }
    @media (min-width: $viewport-wide) {
      grid-column: 2 / 6;
    }
    position: relative;
    z-index: 6;
    padding: $gutter 0 $gutter*0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $viewport-tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        display: inline-block;
        position: relative;
        height: 1.1em;
        width: auto;
        top: 0.2em;
      }
      a {
        position: relative;
        &:before {
          content: " ";
          position: absolute;
          top: -2px;
          left: -2px;
          right: -2px;
          bottom: -3px;
          border-radius: $corner-radius*0.5;
          background: $highlight;
          opacity: 0;
        }
        &:hover,
        &:focus {
          img {
            filter: invert(1);
          }
          &:before {
            opacity: 1;
          }
        }
      }
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: $gutter;
      @media (min-width: $viewport-tablet) {
        margin-top: 0;
        margin-left: 1ex;
      }
      h2 {
        position: absolute;
        left: -1000%;
      }
      span {
        &+ span:before {
          content: ", ";
          padding-right: 0.1em;
        }
      }
      a {
        white-space: nowrap;
      }
    }
  }
}
