---
---


// Webfonts
// Both fonts (Wremena and Inter) are free
// Wremena: https://typefaces.temporarystate.net/preview/Wremena
// Inter: https://rsms.me/inter/

@font-face {
  font-family: 'JoinTogetherTitle'; 
  font-style: normal; 
  font-weight: 400;
  src: url("{{ site.url }}/assets/fonts/WremenaLight.woff") format("woff");
}

@font-face {
  font-family: 'JoinTogetherBody'; 
  font-style: normal; 
  font-weight: 400;
  src: url("{{ site.url }}/assets/fonts/Poppins-SemiBold.otf") format("opentype");
}




// general mixins

$brand: rgb(235,0,16);

$content-max-width: 600px;
$header-max-width: 2000px;
$strapline-max-width: 1500px;

@mixin core-font {
  font-family: JoinTogetherBody, sans-serif;
  // -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  @media (min-width: $content-max-width) {
    font-size: 21px;
    line-height: 1.3;
    letter-spacing: -0.01em;
  }
}

@mixin header-font {
  font-family: JoinTogetherBody, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  word-spacing: 0.01em;
  @media (min-width: $content-max-width) {
    font-size: 37px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    word-spacing: 0.01em;
  }
}

@mixin ui-font {
  font-family: JoinTogetherBody, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  @media (min-width: $content-max-width) {
    font-size: 19px;
    line-height: 1.3;
    letter-spacing: -0.02em;
  }
}

@mixin content-block {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: $content-max-width;
  @media (min-width: $content-max-width) {
    padding: 1rem;
  }
}

@mixin article-block {
  @include content-block;
  header {
    min-height: 50vh;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid;
  }
  @media (min-width: $content-max-width*1.5) {
    max-width: $content-max-width*1.5;
    padding-left: $content-max-width*0.5;
    header {
      margin-left: -50%;
    }
    h2 {
      margin-left: -50%;
      width: 50%;
      float: left;
    }
  }
  @media (min-width: $content-max-width*2) {
    max-width: $content-max-width*2;
    padding-left: $content-max-width;
    header, h2 {
      margin-left: -100%;
    }
  }
}

@mixin article-typography {
  h1 {
    margin: 12.5vh 0 1em;
  }
  h2 {
    margin-top: 12.5vh;
    box-sizing: border-box;
    &+* {
      margin-top: 12.5vh!important;
    }
  }
  p {
    margin: 1em 0 0;
  }
  ul, ol {
    margin: 1em 0 0;
    padding: 0 0 0 1em;
  }
  pre:focus {
    outline: none;
  }
}



// basic reset

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  @include core-font;
  position: relative;
  background: red;
  background: linear-gradient(0deg, rgba(29,57,94,1) 40%, $brand 60%);
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  &:hover,
  &:focus {
    opacity: 0.9999;
    text-decoration-thickness: 3px;
  }
}

a, button {
  &:focus {
    color: $brand;
    background: black;
    outline: none;
  }
}




#logo {
  position: relative;
  z-index: 20;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  @include content-block;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  div {
    position: sticky;
    top: 1em;
    padding: 0.5ex;
    color: white;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &:nth-child(2) {
      flex-grow: 1;
      &:after {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: 0.9em;
        height: 0;
        border-bottom: 2px solid;
      }
    }
  }
  @media (min-width: $content-max-width*1.5) {
    max-width: $content-max-width*1.5;
  }
  @media (min-width: $content-max-width*2) {
    max-width: $content-max-width*2;
  }
}



#brand-area {
  position: relative;
  z-index: 20;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  font-size: 13vw;
  letter-spacing: -0.06em;
  line-height: 0.95;
  justify-self: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 40%;
  padding-top: 10%;
  div {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
  }
  h1 {
    width: 100%;
    margin: 0 auto 0 0;
  }
  p {
    width: 100%;
    margin: 0 auto 0 0;
  }
  @media (min-width: $content-max-width) {
    font-size: 6vw;
    flex-direction: row;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    div {
      width: 50%;
    }
    h1 {
      width: 4em;
      margin: 0 auto 0 0;
    }
    p {
      width: 8em;
      margin: 0 0 0 auto;
    }
  }
}



#product-image {
  position: relative;
  z-index: 30;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  padding-top: 6.66vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #img-wrapper {
    position: relative;
    width: 100%;
    max-width: $content-max-width;
    height: auto;
    background: rgba(230,230,230,0.9);
    -webkit-backdrop-filter: blur(5px);
    padding: 25px 1px 1px;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.4);
    transform: perspective(500px) rotateZ(2deg) rotateY(-5deg);
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 3px;
    }
  }
}




#strapline {
  position: relative;
  z-index: 50;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  p {
    color: white;
    font-size: 4vw;
    word-spacing: 0.25em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: $strapline-max-width;
    @media (min-width: $strapline-max-width) {
      font-size: #{$strapline-max-width * 0.04};
    }
    span {
      &:first-child,
      &:last-child {
        text-transform: uppercase;
      }
    }
  }
}




#newsletter-signup {
  position: relative;
  z-index: 30;
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  form {
    @include content-block;
    position: relative;
    fieldset {
      position: relative;
      display: block;
      width: 100%;
      border: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    label {
      width: 100%;
      color: white;
      padding-bottom: 10px;
      text-align: center;
      a {
        display: inline-block;
      }
    }
    input {
      flex-grow: 1;
      background: white;
      border: none;
      border-radius: 5px 0 0 5px;
      height: 50px;
      z-index: 5;
      padding: 0 0 0 15px;
      @include ui-font;
      width: 50px;
      &:focus {
        outline: none;
      }
      &+div {
        position: absolute;
        background: transparent;
        border-radius: 13px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        height: 70px;
      }
      &:focus+div {
        background: $brand;
      }
    }
    button {
      background: white;
      border-radius: 0 5px 5px 0;
      border: none;
      height: 50px;
      z-index: 5;
      padding: 0 15px;
      @include ui-font;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
  }
}




footer {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  color: white;
  div {
    @include content-block;
    z-index: 30;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @include ui-font;
    p, nav {
      width: 100%;
      text-align: center;
      @media (min-width: $content-max-width) {
        width: auto;
      }
    }
  }
}




#homepage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 50vh);
  justify-items: stretch;
}

#artwork-panel-1 {
  position: relative;
  overflow: hidden;
  z-index: 10;
  margin-top: -500px;
  border-top: 500px solid $brand;
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  justify-self: center;
  background: red;
  background: linear-gradient(180deg, rgba($brand,1) 0%, rgba($brand,1) 67%, rgba($brand,0) 80%);
  width: 33%;
  max-width: 320px;
}
#artwork-panel-2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: cyan;
  background: linear-gradient(180deg, rgba(29,57,94,1) 0%, rgba(03,40,67,1) 10%, rgba(146,138,127,1)35%, rgba(255,192,112,1) 95%);
}
#artwork-panel-3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: rgba(255,192,112,1);
  &:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -12.5%;
    right: -12.5%;
    bottom: -50%;
    background: rgba(0,0,0,1);
    border-radius: 100%;
    box-shadow: 0 -1vw 15vw rgba(255,255,255,1);
  }
}
#artwork-panel-4 {
  position: relative;
  overflow: hidden;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background: rgba(0,0,0,1);
  &:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -12.5%;
    right: -12.5%;
    bottom: -50%;
    background: white;
    border-radius: 100%;
    filter: blur(20px);
  }
}
#artwork-panel-5 {
  position: relative;
  overflow: hidden;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: white;
  &:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -12.5%;
    right: -12.5%;
    bottom: -50%;
    background: rgba(0,0,0,1);
    border-radius: 100%;
  }
}
#artwork-panel-6 {
  position: relative;
  overflow: hidden;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background: rgba(0,0,0,1);
  &:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -12.5%;
    right: -12.5%;
    bottom: -50%;
    background: $brand;
    border-radius: 100%;
    box-shadow: 0 -1vw 15vw rgba(rgba($brand,0),1);
  }
}


#page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, minmax(50vh, max-content));
  background: rgba(29,57,94,1);
  main {
    position: relative;
    width: 100%;
    padding-bottom: 50vh;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    z-index: 21;
    color: white;
    background: linear-gradient(180deg, rgba($brand,0) 0%, rgba($brand,1) 25%);
    article {
      @include article-block;
      @include article-typography;
    }
    &~#artwork-panel-5 {
      background: transparent;
      z-index: 22;
    }
  }
}