---
layout: base
---

<main id="layout-homepage">
  <div id="layout-inner">
  {% for item in page.paragraphs %}
    <div class="lede-block">
      <p>{{ item.text }}
      {% if forloop.last == true %}
        <span class="icon-1"></span>
        <span class="icon-2"></span>
        <span class="icon-3"></span>
      {% endif %}
      </p>
    </div>
  {% endfor %}
  </div>
  <div id="homepage-detail">
    {{ content }}
  </div>
  <nav>
  {% for item in page.buttons %}
    <a href="{{ item.url }}">{{ item.label }}</a>
  {% endfor %}
  </nav>
</main>