<!DOCTYPE html>
<html>
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div id="homepage">
      {%- include header.html -%}
      <header id="brand-area">
        <p>We make <span>{{ site.description }}</span></p>
      </header>
      
      <p id="message-1">{{ page.message-1 }}</p>
      
      <p id="message-2">{{ page.message-2 }}</p>
    
      {%- include footer.html -%}
      <div id="artwork-panel-1"></div>
      <div id="artwork-panel-2"></div>
      <div id="artwork-panel-3"></div>
      <div id="artwork-panel-4"></div>
      <div id="artwork-panel-5"></div>
      <div id="artwork-panel-6"></div>
      <div id="artwork-panel-7"></div>
      <div id="artwork-panel-8"></div>
    </div>
  </body>
</html>